html,
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
    font-family: Play, Verdana
}

.custom-cursor,
button,
input,
select,
label {
    cursor: url('https://starblast.data.neuronality.com/cursor/sbcursor32.png') 0 0, auto !important;
    cursor: -webkit-image-set(url('https://starblast.data.neuronality.com/cursor/sbcursor32.png') 1x, url('https://starblast.data.neuronality.com/cursor/sbcursor64.png') 2x) 0 0, auto !important
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

a {
    text-decoration: none;
    color: hsl(60, 50%, 80%)
}

a:visited {
    color: hsl(60, 50%, 60%)
}

.grayblur {
    -moz-filter: grayscale(0.5) blur(3px);
    -webkit-filter: grayscale(0.5) blur(3px);
    filter: grayscale(0.5) blur(3px)
}

#connection_lost {
    display: none;
    position: fixed;
    top: 50%;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    color: #FFF;
    font-size: 3.5vw;
    line-height: 10vh;
    text-align: center;
    transform: translateY(-40%)
}

#connection_lost .cry {
    display: inline-block;
    transform: rotate(90deg)
}

#connection_lost .donate-btn {
    font-size: .5em
}

#logo img {
    transition: opacity 5s ease, transform 6s ease;
    opacity: 0;
    transform: scale(1.15);
    margin: auto;
    width: 90%;
    pointer-events: none
}

nav.menu {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 65%;
    color: #FFF;
    text-align: center
}

nav.menu ul {
    margin: 0;
    padding: 0
}

nav.menu ul li {
    list-style: none;
    opacity: .5;
    font-weight: bold;
    font-size: 3.7vh;
    transform: scale(0);
    transition: opacity .5s ease-out, transform 1s ease;
    white-space: nowrap
}

nav.menu ul li.event {
    color: #ffca97
}

nav.menu ul li.selected {
    opacity: 1;
    background: radial-gradient(ellipse at center, hsla(60, 50%, 40%, .3) 0, hsla(60, 100%, 80%, 0) 50%);
    text-shadow: #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px
}

nav.menu ul li.event:before,
nav.menu ul li.event:after {
    content: "\272d";
    color: gold
}

nav.menu ul li:before,
nav.menu ul li:after {
    display: inline-block;
    content: "\2022";
    opacity: 0;
    transition: all .5s ease;
    margin: 0;
    color: hsl(60, 95%, 85%);
    text-shadow: 0 0 3vh hsl(60, 100%, 80%)
}

nav.menu ul li.selected:before,
nav.menu ul li.selected:after {
    opacity: 1;
    margin: 0 2vh
}

.footer {
    position: absolute;
    bottom: 0;
    left: 2vw;
    transition: opacity .5s ease-out;
    opacity: 0
}

.footer div {
    text-align: center;
    font-size: .9vw;
    display: inline-block;
    color: #999;
    padding: .5vh .5vw;
    border-radius: 10vw;
    background: rgba(240, 240, 255, .05);
    margin: 1vh .3vw
}

.footer div:hover {
    color: #DDD;
    background: rgba(240, 240, 255, .1)
}

.gamemodes {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    transform: translateX(-101%);
    background: linear-gradient(135deg, hsla(60, 30%, 0%, .3) 0, hsla(60, 30%, 20%, .6) 150%);
    box-shadow: 0 0 1px hsla(60, 100%, 80%, 1);
    color: #FFF;
    transition: all .5s ease-out;
    text-align: center
}

.gamemodes .mode {
    box-sizing: border-box;
    border: 5px solid hsla(60, 30%, 70%, .1);
    display: inline-block;
    border-radius: 3vh;
    text-align: center;
    height: 17%;
    margin: 10vh .8vw 3vh .8vw;
    width: 10vw;
    font-size: 1.2vw;
    position: relative
}

.gamemodes .mode .title {
    position: absolute;
    top: -4vh;
    left: 0;
    right: 0
}

.gamemodes .mode img {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%
}

.gamemodes .mode.selected {
    background: hsla(60, 30%, 50%, .4);
    box-shadow: 0 0 7px 3px hsl(60, 30%, 90%)
}

.gamemodes .mode.selected:before {
    animation: mode-caret infinite .9s;
    position: absolute;
    font-size: 3vw;
    left: 50%;
    bottom: -7vh;
    font-family: FontAwesome;
    content: "\f0d8"
}

@keyframes mode-caret {
    0% {
        transform: translateX(-50%) translateY(-10%) scale(.5)
    }

    50% {
        transform: translateX(-50%) translateY(-50%) scale(1)
    }

    100% {
        transform: translateX(-50%) translateY(-10%) scale(.5)
    }
}

#colors {
    margin: -20px 15px 5px 15px;
    padding: 10px 0 5px 0;
    border-radius: 10px
}

#colors.selected {
    box-shadow: 0 0 7px 3px #fff;
    background: hsla(60, 30%, 50%, .4)
}

#colors span {
    box-sizing: border-box;
    display: inline-block;
    border: .1vw solid rgba(0, 0, 0, .3);
    width: .78vw;
    height: 2vw
}

#colors span.selected {
    position: relative;
    z-index: 2;
    box-shadow: 0 0 7px 3px hsl(60, 30%, 90%);
    border-color: rgba(0, 0, 0, .5);
    position: relative;
    transform: scale(1.1)
}

#colors span.selected:before {
    position: absolute;
    font-size: 1vw;
    top: -1vw;
    left: 50%;
    font-family: FontAwesome;
    transform: translateX(-50%);
    content: "\f0d7";
    color: hsl(60, 30%, 90%)
}

#inputline {
    position: relative
}

#inputline i {
    transition: all .2s ease-out;
    position: absolute;
    font-size: 2.1vh;
    top: 1vh;
    left: 1vw
}

#inputline i.fa-refresh {
    left: auto;
    right: 1vw
}

.textcentered {
    text-align: center !important
}

.hide {
    opacity: 0
}

#stats {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
    text-shadow: #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px
}

#stats img {
    height: 25vh
}

#stats .btm {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 2vh
}

#stats .ctr {
    position: fixed;
    left: 0;
    right: 0;
    top: 26vh
}

#stats .goinfo {
    color: #fff;
    font-size: 3vh
}

#stats .gameover {
    font-size: 4vh;
    margin-bottom: 1vh
}

#stats .line {
    background: hsla(60, 60%, 80%, .3);
    padding: .5vh 2vw;
    margin: 1vh auto;
    width: 40vw;
    font-size: 4vh;
    color: #fff;
    text-align: left;
    box-shadow: 0 0 6px hsla(60, 80%, 80%, 1);
    transform: scale(0);
    transition: transform .6s ease-out
}

#stats .line span {
    float: right
}

#stats #screenshots {
    position: fixed;
    top: 1vw;
    left: 1vw;
    font-size: 1.3vw;
    color: hsl(60, 50%, 80%);
    padding: .4vw;
    border-radius: 100%;
    border: 2px solid hsl(60, 50%, 80%)
}

#stats #screenshots:hover {
    color: hsl(60, 80%, 95%);
    text-shadow: 0 0 16px hsl(60, 80%, 80%);
    border: 2px solid hsl(60, 80%, 95%)
}

.flip-container {
    perspective: 1000px
}

.flip-container.hover .flipper {
    transform: rotateY(180deg)
}

.flip-container,
.front,
.backside {
    width: 100%;
    height: 55vh
}

.flipper {
    transition: .7s;
    transform-style: preserve-3d;
    position: relative
}

.front,
.backside {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0
}

.front {
    z-index: 2;
    transform: rotateY(0)
}

.backside {
    transform: rotateY(180deg);
    color: #fff
}

.backside table {
    margin: 0 auto
}

.backside table tr {
    height: 16vh
}

.backside table tr td {
    background: hsla(60, 80%, 80%, .1);
    width: 16vw;
    text-align: center;
    box-sizing: border-box;
    padding: 2vh
}

.backside table tr td div {
    position: relative
}

.backside table tr td i {
    display: inline-block;
    padding: 0 .2vw;
    font-size: 1.2vw;
    color: #fff
}

.backside table tr td i:hover {
    color: hsl(60, 70%, 80%)
}

.backside table tr td span {
    display: block;
    position: absolute;
    bottom: .8vh;
    text-align: center;
    left: 0;
    right: 0
}

.backside table tr td canvas {
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    border: .5vh solid #fff
}

#respawn_btn,
#quit_btn {
    font-family: Play, Verdana;
    border: 0;
    background: 0;
    outline: 0;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    margin-top: 5vh;
    font-size: 3.7vh;
    line-height: 10vh;
    background: radial-gradient(ellipse at center, hsla(60, 50%, 40%, .5) 0, hsla(60, 100%, 80%, 0) 70%);
    text-shadow: #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px;
    width: 50%;
    opacity: 0;
    transition: opacity 1s ease;
    display: none
}

.ecpinput {
    height: 43px;
    line-height: 43px;
    padding: 0 8px;
    text-align: center;
    border: 0 solid hsl(60, 90%, 10%);
    width: 350px;
    outline: 0;
    transition: all .5s ease;
    background: linear-gradient(to top, hsla(60, 70%, 70%, .5) 0, hsla(60, 50%, 0%, 1) 20%, hsla(60, 50%, 0%, 1) 60%, hsla(60, 20%, 40%, .5) 100%);
    box-shadow: 0 0 6px hsla(60, 80%, 80%, 1);
    color: hsla(60, 90%, 90%, .8);
    text-shadow: 0 0 7px hsla(60, 80%, 80%, 1);
    border-radius: 4px;
    font-size: 1.2em
}

.player-app {
    text-align: center;
    color: hsla(60, 90%, 90%, .8);
    font-size: 2.3vh;
    border: 0;
    padding: .8vh 0;
    width: 100%;
    outline: 0;
    text-transform: uppercase;
    background: hsla(60, 50%, 40%, .1);
    border-bottom: 1px dashed hsl(60, 50%, 40%)
}

.ecpbtn {
    vertical-align: middle;
    width: 50px;
    margin: 0 10px
}

::input-placeholder {
    color: hsla(60, 10%, 80%, .4);
    text-shadow: 0 0 7px hsla(60, 80%, 80%, .3);
    font-size: 16px
}

::-webkit-input-placeholder {
    color: hsla(60, 10%, 80%, .4);
    text-shadow: 0 0 7px hsla(60, 80%, 80%, .3);
    font-size: 16px
}

::-moz-placeholder {
    color: hsla(60, 10%, 80%, .4);
    text-shadow: 0 0 7px hsla(60, 80%, 80%, .3);
    font-size: 16px
}

:-ms-input-placeholder {
    color: hsla(60, 10%, 80%, .4);
    text-shadow: 0 0 7px hsla(60, 80%, 80%, .3);
    font-size: 16px
}

#respawn_actions,
#respawn_swap,
.moudd,
.stats {
    transition: all .3s ease
}

#player button,
#respawn_actions button,
.donate-btn {
    padding: 10px 60px;
    font-size: 1.2em;
    overflow: hidden;
    margin: 20px 0 20px 0;
    text-align: center;
    background: radial-gradient(ellipse at center, hsla(60, 50%, 0%, 1) 0, hsla(60, 100%, 70%, .5) 150%);
    box-shadow: 0 0 6px hsla(60, 100%, 80%, 1);
    text-shadow: 0 0 7px hsla(60, 100%, 80%, 1);
    color: hsla(60, 100%, 90%, .8);
    font-family: Play, Verdana;
    border: 0
}

#player button:hover,
#respawn_actions button:hover,
.donate-btn:hover,
.ecpbtn:hover {
    background: radial-gradient(ellipse at center, hsla(60, 50%, 0%, 1) 0, hsla(60, 100%, 70%, .5) 100%);
    box-shadow: 0 0 8px hsla(60, 100%, 90%, 1);
    color: #FFF
}

.playbtn i {
    padding: 0 10px;
    font-size: 2em;
    vertical-align: middle;
    font-family: normal normal normal 14px/1 FontAwesome;
    margin: 9px 10px 0 10px;
    color: hsla(60, 60%, 80%, .5);
    text-align: center;
    text-shadow: 0 0 7px hsla(60, 100%, 80%, 1)
}

.playbtn i:hover {
    text-shadow: 0 0 27px hsla(60, 100%, 80%, 1)
}

#player #play {
    padding: 0 60px 20px;
    position: relative
}

#play.orange {
    color: #FFF;
    background: radial-gradient(ellipse at center, hsla(20, 50%, 0%, 1) 0, hsla(20, 100%, 70%, .5) 150%);
    text-shadow: 0 0 7px hsla(20, 100%, 80%, 1);
    box-shadow: 0 0 6px hsla(20, 100%, 80%, 1)
}

#play.orange:hover {
    background: radial-gradient(ellipse at center, hsla(20, 50%, 0%, 1) 0, hsla(20, 100%, 70%, .5) 100%);
    box-shadow: 0 0 8px hsla(20, 100%, 90%, 1)
}

#play #game_modes {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, .1);
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap
}

#play #game_modes span {
    display: inline-block;
    width: 100%;
    transition: margin .5s ease
}

#respawn {
    display: none
}

.gameloader {
    position: fixed;
    z-index: 10;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    transition: opacity .5s ease
}

.loading-text {
    text-align: center;
    color: #FFF;
    font-size: 3vw
}

.progress {
    margin: auto;
    margin-top: -5vh;
    overflow: hidden;
    white-space: nowrap;
    text-align: center
}

.loading-triangle {
    color: rgba(50, 50, 50, .4);
    font-size: 10vw;
    margin-left: -2vw
}

.loading-triangle.on {
    background-image: radial-gradient(ellipse at center, hsla(60, 50%, 100%, 1) 0, hsla(60, 50%, 100%, .5) 150%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0 0 15px hsla(60, 50%, 80%, .8)
}

.modal {
    z-index: 3;
    position: fixed;
    left: 0;
    right: 0;
    top: -100%;
    margin: 0 1vw;
    width: 60vw;
    max-width: 100%;
    max-height: 100%;
    background: linear-gradient(135deg, hsla(60, 30%, 0%, .8) 0, hsla(60, 30%, 10%, .9) 150%);
    opacity: 0;
    transition: all .8s cubic-bezier(.15, .69, .77, 1.01);
    display: none;
    overflow: auto;
    color: hsla(60, 80%, 100%, .8);
    text-shadow: 0 0 6px hsla(60, 100%, 60%, .75)
}

.modal .modal-header {
    background: rgba(255, 255, 255, .2);
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin: -20px -40px 20px -40px
}

.modal .modwrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px
}

.modal .mod {
    font-size: 14px;
    position: relative;
    margin: 10px auto 10px auto;
    max-width: 400px
}

.modal .modecp {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .8);
    padding: 10px;
    font-size: 20px;
    text-align: left
}

.modal .modecp a {
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .25);
    padding: 5px 10px;
    color: #FFF;
    margin: 0 0 0 10px;
    float: right
}

.modal .modecp div {
    padding: 5px 10px
}

.modal .mod:hover {
    cursor: pointer
}

.modal .mod:hover img {
    filter: grayscale(0)
}

.modal .mod img {
    width: 100%;
    filter: grayscale(60%)
}

.modal .mod.inactive {
    cursor: default
}

.modal .mod.inactive img {
    filter: grayscale(100%)
}

.modal .mod .title {
    background: rgba(240, 240, 255, .15);
    padding: 3px 10px;
    text-align: left
}

.modal .mod .nowplaying,
.modal .mod .author {
    float: right
}

.modal .mod .totalplayed {
    padding: 0 10px;
    margin-bottom: -15px;
    background: #fff;
    color: #000;
    text-shadow: none;
    font-size: .8em;
    text-align: left;
    position: absolute;
    top: -7px;
    left: 0;
    right: 0;
    z-index: 1
}

.modal::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    background-color: transparent
}

.modal::-webkit-scrollbar {
    width: 10px
}

.modal::-webkit-scrollbar-thumb {
    border-radius: 0;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
    background-color: hsla(60, 50%, 70%, .5)
}

.modal .header {
    margin: 5px 0;
    padding: 5px 40px;
    font-size: 2em;
    background: hsla(60, 70%, 70%, .1);
    border-bottom: 5px solid hsla(60, 50%, 70%, .5)
}

.modal .modaltitle {
    display: inline-block
}

.modal .close-modal {
    width: 40px;
    text-align: center;
    float: right
}

.modal .close-modal:hover {
    color: #FFF;
    background: rgba(240, 250, 255, .1)
}

.modal .modalbody {
    overflow: auto;
    padding: 20px 40px;
    font-size: 1.5em
}

.modal .modalbody .regions {
    text-align: center;
    border-bottom: 1px solid hsla(60, 50%, 70%, .5);
    margin: -20px -40px 40px -40px;
    padding: 10px 0;
    background: rgba(120, 180, 255, .08)
}

.modal .modalbody .regions .date {
    text-align: right;
    font-size: .5em
}

.modal .modalbody span.region {
    display: inline-block;
    width: 8vw;
    padding: 1vh 1vw;
    margin: .7vw;
    transition: .2s ease background;
    font-size: 1.5vw
}

.modal .modalbody span.region:hover {
    background: rgba(120, 180, 255, .05)
}

.modal .modalbody span.region.active {
    color: #FFF;
    background: radial-gradient(ellipse at center, hsla(20, 50%, 0%, 1) 20%, hsla(20, 50%, 60%, .5) 150%);
    box-shadow: 0 0 6px hsla(20, 100%, 80%, 1);
    text-shadow: 0 0 7px hsla(20, 100%, 80%, 1)
}

#ranks .rankings {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 1.5vw
}

#ranks .rankings canvas {
    opacity: 0;
    transform: translateY(20px) scale(0);
    transition: 1s ease all
}

#ranks .rankings tbody tr {
    height: 45px
}

#ranks .rankings tbody tr:nth-child(odd) {
    background: rgba(120, 180, 255, .08)
}

#ranks .rankings th:first-child {
    font-size: .7vw
}

#ranks .rankings th {
    text-align: center;
    padding: .2vw
}

#ranks .rankings th.orating {
    width: 33.333%;
    background: rgba(0, 0, 0, .2);
    border: 1px dashed hsl(60, 50%, 50%);
    border-bottom: 0
}

#ranks .rankings td.trophies {
    width: 10%;
    background: rgba(0, 0, 0, .2);
    border-right: 1px dashed hsl(60, 50%, 50%);
    text-align: right
}

#ranks .rankings tr:first-child td.trophies {
    color: gold
}

#ranks .rankings tr:nth-child(2) td.trophies {
    color: silver
}

#ranks .rankings tr:nth-child(3) td.trophies {
    color: #cd7f32
}

#ranks .rankings td:last-child {
    text-align: right
}

#ranks .rankings td {
    padding: .5vh .5vw;
    width: auto;
    vertical-align: middle
}

#ranks .fa-long-arrow-up {
    color: #77ee90
}

#ranks .fa-long-arrow-down {
    color: #ed8256
}

#ranks small {
    font-size: .6em;
    display: inline-block;
    width: 35px;
    text-align: center
}

.modal .modalbody label {
    float: right;
    margin-top: 6px;
    vertical-align: middle
}

.modal .modalbody select,
.modal .modalbody input[type=text],
.modal .modalbody input.number {
    font-size: .8em;
    padding: 3px 5px;
    color: white;
    background: hsl(60, 60%, 15%);
    border: 1px solid hsl(60, 60%, 10%);
    float: right;
    vertical-align: middle;
    width: 241px;
    box-sizing: border-box;
    margin-top: 6px
}

#mappreview {
    border: 1px solid hsl(60, 60%, 20%);
    float: right;
    margin: 0 30px 10px
}

#mappreview:after {
    clear: both
}

.modal .modalbody hr {
    border-color: #587c8e
}

.modal .modalbody .gmodes {
    margin: -20px -40px 0 -40px;
    text-align: center
}

.modal .modalbody .gmodes span {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 45%;
    margin: 1%;
    border: 2px solid hsl(60, 60%, 10%);
    text-align: center
}

.modal .modalbody .gmodes span.selected {
    box-shadow: 0 0 6px hsla(60, 100%, 80%, 1);
    color: white
}

.modal .modalbody .gmodes span[data-mode="invasion"] {
    background: url("https://starblast.data.neuronality.com/img/invasion.svg") 1% 1% no-repeat rgba(0, 0, 20, .2)
}

.modal .modalbody .gmodes span[data-mode="deathmatch"] {
    background: url("https://starblast.data.neuronality.com/img/deathmatch.svg") 1% 1% no-repeat rgba(0, 0, 20, .2)
}

.modal .modalbody .range {
    float: right;
    vertical-align: middle;
    font-size: .7em;
    padding: 0 100px 0 10px;
    position: relative;
    background: hsl(60, 60%, 15%);
    border: 1px solid hsl(60, 60%, 10%);
    height: 30px;
    line-height: 30px;
    margin-top: 6px
}

.modal .modalbody .range input {
    height: 30px;
    padding: 0;
    margin: 0
}

.modal .modalbody .range span {
    position: absolute;
    top: 0;
    right: 10px
}

.modal .modalbody div.option {
    min-height: 45px;
    height: 4.5vh;
    line-height: 4.5vh;
    padding: 0 30px;
    font-size: 2.5vh
}

.modal .modalbody div.option:hover {
    background: hsla(60, 60%, 30%, .1)
}

.modal .modalbody div.option.selected {
    background: hsla(60, 60%, 50%, .2)
}

.modal .modalbody div.option .fa-level-up {
    margin-left: 30px
}

.sandboxmode {
    padding: 10px 20px 0 20px;
    background: rgba(0, 0, 30, .1);
    display: none
}

.smalltext {
    font-size: 14px
}

.smalltext .date {
    display: block;
    margin: 10px -40px 0 -40px;
    padding: 10px 40px;
    font-size: 1.7em;
    background: rgba(0, 0, 0, 0.2)
}

.info {
    white-space: nowrap
}

.control-info {
    text-align: center
}

.gamepad-controls {
    font-size: 1vw;
    text-align: center;
    position: relative;
    width: 100%
}

.gamepad-controls img {
    margin-top: 3vh;
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%)
}

.gamepad-controls span {
    position: absolute;
    display: inline-block;
    padding: .2vh .5vw;
    background: rgba(255, 255, 255, .1);
    width: 20%;
    text-align: left
}

#gp_steer {
    top: 43%;
    left: 2%;
    text-align: right
}

#gp_thrust {
    top: 12%;
    right: 2%
}

#gp_rcs {
    top: 12%;
    left: 2%;
    text-align: right
}

#gp_screenshot {
    top: 0;
    text-align: right;
    left: 26%
}

#gp_menu {
    top: 0;
    right: 26%
}

#gp_selectupgrades {
    top: 62%;
    left: 2%;
    text-align: right
}

#gp_chat {
    top: 72%;
    right: 2%
}

#gp_weaponstore {
    top: 60%;
    right: 2%
}

#gp_score {
    top: 28%;
    right: 2%
}

#gp_switchweapon {
    top: 36%;
    right: 2%
}

#gp_secondaryfire {
    top: 44%;
    right: 2%
}

#gp_fire {
    top: 52%;
    right: 2%
}

.km-controls {
    font-size: 1vw;
    text-align: center;
    position: relative;
    width: 100%
}

.km-controls img {
    width: 30%;
    transform: translateX(-65%);
    margin-top: 6%
}

#km_steer {
    top: 70%;
    width: 14%;
    left: 24.3%;
    text-align: center;
    background: 0
}

#km_thrust {
    width: 10%;
    top: 35%;
    right: 42%
}

#km_fire {
    width: 10%;
    top: 35%;
    left: 6.5%;
    text-align: right
}

#km_secondaryfire {
    top: 0;
    left: 21.5%;
    text-align: center
}

#km_switchweapon {
    top: 8%;
    left: 21.5%;
    text-align: center
}

#km_rcs {
    top: 7%;
    right: 2%
}

#km_switchweapon2 {
    top: 22%;
    right: 2%
}

#km_score {
    top: 37%;
    right: 2%
}

#km_secondaryfire2 {
    top: 52%;
    right: 2%
}

#km_screenshot {
    top: 67%;
    right: 2%
}

#km_altenter {
    top: 82%;
    right: 2%
}

.km-controls [id^=km_] {
    position: absolute;
    display: inline-block;
    padding: .2vh .5vw;
    background: rgba(255, 255, 255, .1);
    width: 20%;
    text-align: left
}

.km-controls [id^=kb_] {
    position: absolute;
    left: 63%;
    display: inline-block;
    padding: 1vh .9vw;
    background: rgba(255, 255, 255, .1);
    text-decoration: none;
    text-align: center;
    color: #555;
    background: #eff0f2;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-top: 1px solid #f5f5f5;
    box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;
    -moz-box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;
    box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;
    text-shadow: 0 1px 0 #f5f5f5
}

#kb_ctrl {
    top: 5%
}

#kb_shift {
    top: 20%
}

#kb_tab {
    top: 35%
}

#kb_alt {
    top: 50%
}

#kb_z {
    top: 65%
}

#kb_altenter {
    top: 80%
}

.infos {
    font-size: .9vw;
    text-align: justify
}

.infos p {
    margin: 0 0 10px 0;
    padding: 10px 0
}

.infos .center {
    text-align: center;
    margin: 20px 0;
    font-size: 16px
}

.infos h1,
.infos h2 {
    margin: 15px 0 -5px 0
}

.customizeship {
    text-align: center;
    padding: 15px;
    background: rgba(0, 0, 0, .3);
    margin-top: 40px
}

.shippreview canvas {
    transform: rotate(-.1deg);
    max-width: 100%;
    pointer-events: none
}

.frozenbg {
    background: radial-gradient(ellipse at center, hsla(60, 50%, 0%, 1) 20%, hsla(60, 50%, 60%, .5) 150%);
    box-shadow: 0 0 6px hsla(60, 100%, 80%, 1);
    text-shadow: 0 0 7px hsla(60, 100%, 80%, 1);
    color: hsla(60, 100%, 90%, .8)
}

.ecpverifiedlogo canvas {
    max-width: 100%
}

table.customtable {
    border-collapse: collapse;
    width: 46vw;
    text-align: center;
    margin: auto;
    box-sizing: border-box
}

table.customtable td {
    width: 50%
}

.customtable .title {
    white-space: nowrap;
    display: inline-block;
    width: 60%;
    vertical-align: middle;
    position: relative;
    font-size: 1.2vw;
    padding: .3vw .5vw;
    text-align: center
}

.customtable .customfield {
    margin: 1vh .5vw;
    border-radius: 10px
}

.customtable .customfield.selected {
    background: hsla(60, 30%, 50%, .4);
    box-shadow: 0 0 7px 3px hsl(60, 30%, 90%)
}

.customtable .arrow {
    opacity: .5;
    vertical-align: middle;
    font-size: 4vh;
    padding: 0 .5vw
}

.customtable .arrow:hover {
    opacity: 1
}

.blue {
    color: hsl(60, 50%, 70%)
}

.smallblue {
    font-size: 60%;
    color: hsl(60, 50%, 70%)
}

#infologo {
    text-align: center
}

#infologo img {
    max-width: 70%
}

canvas {
    margin-left: auto;
    margin-right: auto;
    display: block
}

.pricechoice {
    margin: 5px 0;
    padding: 5px;
    background: rgba(0, 0, 0, .2)
}

.pricechoice article {
    display: inline
}

.pricechoice span {
    display: inline-block;
    padding: 4px;
    vertical-align: middle;
    margin-right: 10px;
    background: linear-gradient(-45deg, hsla(60, 30%, 30%, .5) 0, hsla(60, 50%, 50%, .75) 100%);
    text-align: center;
    width: 100px;
    font-size: 1.5em;
    color: rgba(255, 255, 255, .5)
}

.pricechoice span.active {
    background: linear-gradient(-45deg, hsla(120, 70%, 50%, .75) 0, hsla(120, 50%, 70%, 1) 100%);
    box-shadow: 0 0 5px hsl(120, 60%, 60%);
    color: rgba(255, 255, 255, .9)
}

.custom-amount {
    display: none;
    margin-top: 10px
}

.custom-amount input {
    display: inline-block;
    padding: 4px;
    vertical-align: middle;
    text-shadow: 0 0 7px hsla(60, 80%, 80%, 1);
    border: 0;
    outline: 0;
    background: rgba(255, 255, 255, .1);
    color: #FFF;
    margin-right: 10px;
    width: 100px;
    text-align: center;
    font-size: 1.5em
}

#licenceKey {
    text-align: center;
    border: 2px solid hsla(60, 80%, 80%, .2);
    background: rgba(0, 0, 0, .2);
    color: #FFF;
    width: 150px;
    font-size: 1.5em;
    vertical-align: middle;
    padding: 5px
}

#licenceKeyBtn {
    vertical-align: middle;
    font-size: 1.5em;
    border: 2px solid hsla(60, 80%, 80%, .2);
    background: rgba(0, 0, 0, .2);
    margin-left: 10px;
    color: #fff;
    padding: 5px 20px
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px
}

.switch input {
    display: none
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s
}

input:checked+.slider {
    background-color: hsl(60, 50%, 10%)
}

input:focus+.slider {
    box-shadow: 0 0 1px hsl(60, 60%, 30%)
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px)
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 7.85px 0;
    background: transparent
}

input[type=range]:focus {
    outline: 0
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 9.3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
    background: hsl(60, 50%, 45%);
    border-radius: 1.3px;
    border: .2px solid #160101
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
    border: 1px solid #000;
    height: 25px;
    width: 16px;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8.05px
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: hsl(60, 60%, 55%)
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 9.3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
    background: hsl(60, 50%, 45%);
    border-radius: 1.3px;
    border: .2px solid #160101
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
    border: 1px solid #000;
    height: 25px;
    width: 16px;
    border-radius: 3px;
    background: #fff;
    cursor: pointer
}

input[type=range]::-ms-track {
    width: 100%;
    height: 9.3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent
}

input[type=range]::-ms-fill-lower {
    background: #948f45;
    border: .2px solid #160101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d
}

input[type=range]::-ms-fill-upper {
    background: hsl(60, 50%, 45%);
    border: .2px solid #160101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
    border: 1px solid #000;
    height: 25px;
    width: 16px;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
    height: 9.3px
}

input[type=range]:focus::-ms-fill-lower {
    background: hsl(60, 50%, 45%)
}

input[type=range]:focus::-ms-fill-upper {
    background: hsl(60, 60%, 55%)
}

[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer
}

[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none
}

[data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: -11px;
    margin-left: -97px;
    padding: 7px;
    width: 180px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(60, 50%, 30%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2
}

.followtools [data-tooltip].fourth:before {
    margin-left: -125px
}

.followtools [data-tooltip]:last-child:before {
    margin-left: -175px
}

[data-tooltip]:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(60, 50%, 30%, .9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1
}